<a href="https://colab.research.google.com/github/sunami20/Data-Science-2025/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#The Assignment of 3rd Class

In [ ]:
#1: Basic if Else statement

age = int(input("Enter your age: "))
if age>18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

Enter your age: 12
You are not eligible to vote

In [ ]:
#2: Nested If-Else

Teacher = 5
Student = 85

if Teacher> 8:
  if Student>50:
    print("Teacher and Student eligible")
  else:
    print("Students are not eligeable")
else:
  if Student > 50:
    print("Student are eligible")
  else:
    print("Teacher and Students are not eligeable")

In [ ]:
#3: Conditiobal Expressions

num = int(input("Enter your number:"))
if num % 2==0:
  print("The number is even")
elif  num %2!=0:
  print("The number is odd")
else:
  print("The number is zero")

Enter your number:0
The number is even

In [ ]:
#4: Age Group Classification

age = int(input("Enter your age: "))
if age>= 65:
  print("Senior")
elif age>=20:
  print("Adult")
elif age>=13:
  print("Teenager")

elif age>=0:
  print("Child")
else:
  print("NO")

#Python Programming Assignmrnts

In [16]:

#Assignment:1 Sum of Natural Numbers
sum = 0
i = 1

while i<=5:
   sum=sum+i
   i=i+1

print(sum)

20

In [9]:
#Assignment 2: Factorial of Number
def factorial(n):
  iniatial = 1
  for i in range (1, n+1):
      iniatial = iniatial *i
  return iniatial
result = factorial(5)
print(result)

In [ ]:
#Assignment 3: Multiplication Table
n=int(input("Enter ur number: "))
for i in range(1,n):
  for j in range (1,n):
    output= i*j
    print(f"{i} X {j} = ",{output})
  print("______")

Enter ur number: 10
1 X 1 =  {1}
1 X 2 =  {2}
1 X 3 =  {3}
1 X 4 =  {4}
1 X 5 =  {5}
1 X 6 =  {6}
1 X 7 =  {7}
1 X 8 =  {8}
1 X 9 =  {9}
______
2 X 1 =  {2}
2 X 2 =  {4}
2 X 3 =  {6}
2 X 4 =  {8}
2 X 5 =  {10}
2 X 6 =  {12}
2 X 7 =  {14}
2 X 8 =  {16}
2 X 9 =  {18}
______
3 X 1 =  {3}
3 X 2 =  {6}
3 X 3 =  {9}
3 X 4 =  {12}
3 X 5 =  {15}
3 X 6 =  {18}
3 X 7 =  {21}
3 X 8 =  {24}
3 X 9 =  {27}
______
4 X 1 =  {4}
4 X 2 =  {8}
4 X 3 =  {12}
4 X 4 =  {16}
4 X 5 =  {20}
4 X 6 =  {24}
4 X 7 =  {28}
4 X 8 =  {32}
4 X 9 =  {36}
______
5 X 1 =  {5}
5 X 2 =  {10}
5 X 3 =  {15}
5 X 4 =  {20}
5 X 5 =  {25}
5 X 6 =  {30}
5 X 7 =  {35}
5 X 8 =  {40}
5 X 9 =  {45}
______
6 X 1 =  {6}
6 X 2 =  {12}
6 X 3 =  {18}
6 X 4 =  {24}
6 X 5 =  {30}
6 X 6 =  {36}
6 X 7 =  {42}
6 X 8 =  {48}
6 X 9 =  {54}
______
7 X 1 =  {7}
7 X 2 =  {14}
7 X 3 =  {21}
7 X 4 =  {28}
7 X 5 =  {35}
7 X 6 =  {42}
7 X 7 =  {49}
7 X 8 =  {56}
7 X 9 =  {63}
______
8 X 1 =  {8}
8 X 2 =  {16}
8 X 3 =  {24}
8 X 4 =  {32}
8 X 5 =  {40}
8 X 6 =  {48}
8 X 7 =  {56}
8 X 8 =  {64}
8 X 9 =  {72}
______
9 X 1 =  {9}
9 X 2 =  {18}
9 X 3 =  {27}
9 X 4 =  {36}
9 X 5 =  {45}
9 X 6 =  {54}
9 X 7 =  {63}
9 X 8 =  {72}
9 X 9 =  {81}
______