<a href="https://colab.research.google.com/github/sunami20/Data-Science-2025/blob/main/Assigment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lecture -1 for Python**

# Variable

In [ ]:

#Taks 1: Creating variables
name = "Yeasin"
age = 26
color = "Green"


#Printing Variables
print("Name:", name)
print("Age:", age)
print("color:", color)

Name: Yeasin
Age: 26
color: Green

#Data type

In [ ]:
#task2 : show every Data type

#String
name="Alam"
adress="Hg"

#Number
age = 26 #integer
Height = 5.4 #float

#Boolean
is_valid = True
has_paid = False

#None
result = None

print(type(name))
print(type(age))
print(type(Height))
print(type(is_valid))
print(type(has_paid))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>

#Calculate

In [ ]:
#Task 3 : calculation area and perimeter

length = 7
width = 5

area =(length * width)
print("Area", area)

Perimeter=2*(length*width)
print("Perimeter", Perimeter)

Area 35
Perimeter 70

# List

In [ ]:
#Task 4 : list of Bangladeshi food,show first and last number

Food  = ['Mango', "Orage", 'Banana', 'Apple', 'Lichi']
print(Food[0])
print(Food[-1])

Mango
Lichi
['Mango', 'Guava', 'Orage', 'Banana', 'Apple', 'Lichi']
['Apple', 'Banana', 'Guava', 'Lichi', 'Mango', 'Orage']
['Banana', 'Guava', 'Lichi', 'Mango', 'Orage']
['Orage', 'Mango', 'Lichi', 'Guava', 'Banana']

In [14]:
#Task 5 show a list of 5 numbers, add new number, remove one, and then short the list

number=[4,7,6,5,8]
number.append(9)
number.remove(4)
number.sort()
print(number)

[5, 6, 7, 8, 9]

# Dictionary

In [ ]:
#Task 6 : show by Dictionary self introduce

Student = {
    "Name": "Yeasin",
    "Age": 26,
    "University": "Oxford University",
    "Nationality": "Bangladeshi"
}

print(Student)

if "Name" is Student:
  print("Yes")
else:
    print("No")

{'Name': 'Yeasin', 'Age': 26, 'University': 'Oxford University', 'Nationality': 'Bangladeshi'}
No

<>:10: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:10: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
/tmp/ipython-input-2455852374.py:10: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  if "Name" is Student:

# Tuple

In [ ]:
#Task 7: show by Tuple 5 place of bangladesh

Place= ("Sylhet", "Rangamati", "Sundarban", "Rajshahi", "Kustia" )
print(Place)
print(len(Place))

('Sylhet', 'Rangamati', 'Sundarban', 'Rajshahi', 'Kustia')
5

# Set

In [ ]:
#Task 8 : show through Set, combination of union and Intersection method

A={"Blue", "White", "Red", "Black"}
B={"Red", "Yellow", "Green",}

find1=A.union(B)
find2=A.intersection(B)

print(find1)
print(find2)

{'Green', 'Yellow', 'Black', 'Red', 'Blue', 'White'}
{'Red'}

# **Function**

In [12]:
#Task9 : Write a Python function that takes a string as input and prints the first and last character.
def first_last_char(text):
    if len(text) == 0:
        print("The string is empty.")
    else:
        print("First character:", text[0])
        print("Last character:", text[-1])


first_last_char("name")

First character: n
Last character: e

In [9]:
#Task 10: Write a Python function that takes a string and converts it to uppercase.
def to_uppercase(text):
  result=text.upper()
  print(result)

to_uppercase("Bangladesh")

BANGLADESH