<a href="https://colab.research.google.com/github/sunami20/Data-Science-2025/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Assignment of Four(4)

# **Numpy**

In [13]:
#Import necessary library
import numpy as np

In [10]:
#creat a numpy array with 20 random integers between 1 and 100

arr = np.random.randint(1,100, 20)

#Display yhe Numpy array
print(" The Numpy array is: \n ", arr)

 The Numpy array is:
  [ 1 31 36 66 87 96 74 76 70 88  1 20 98 22 81 86 11 41 34 73]
The sum of arr
 1092

In [11]:
#1. Find the sum of all elements
#The np.sum() function computes the sum of all elements in the array

sum = np.sum(arr)
print("The sum of arr \n", sum)

The sum of arr
 1092

In [12]:
#2. Find the maximum and minimum values in the array
#np.max() returns the maximum value and np.min() returns the minimum value in the array

max = np.max(arr)
min = np.min(arr)
print("The number of max", max)
print("The number of min", min)

The number of max 98
The number of min 1

# **Pandas**

In [15]:
#Import necessary library
import pandas as pd

In [20]:
#1. Creat a DatFrame with 5 rows and 3 columns of ranadom numbers
#The DataFrame is generated from a 5x3 maatrix of random integers between 1 and 100

data =(np.random.randint(1, 100, size=(5 , 3)))

df =pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

    A   B   C
0  33  64  20
1  42  17  43
2   6  25  28
3  77  99  28
4  51   8  47

In [21]:
# 2. Compute the sum of each column
#The .sum() function computes the sum for each column in the DataFrame

sum_colum = df.sum()
print(sum_colum)

A    209
B    213
C    166
dtype: int64

In [22]:
# 3. Compute the mean of each column
# The .mean() function computes the mean (average) of each column in the DataFrame

mean_colum=df.mean()
print(mean_colum)

A    41.8
B    42.6
C    33.2
dtype: float64